.hero {
  flex-direction: column;
  height: 650px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img/andrzej-kryszpiniuk-GXT7AWP-03s-unsplash.jpg")
      center/cover;

  @include breakpoint-down(medium) {
    height: 450px;
  }

  &__title {
    color: $secondaryTextColor;
    text-align: center;

    @include breakpoint-down(small) {
      font-size: $font-lg;
    }

    @include breakpoint-up(medium) {
      font-size: $font-xl;
    }

    @include breakpoint-up(xlarge) {
      font-size: $font-xll;
    }
  }
}
