.about {
  background: $primaryBackground;
  width: 100%;

  padding: 60px 10px;

  &__title {
    color: $primaryTextColor;
    margin: 0;
    text-align: center;
    font-size: $font-lg;
  }

  &__image {
    height: 227px;
    width: 100%;
    margin: 60px 0;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: $box-shadow;
  }

  @include breakpoint-up(medium) {
    &__title {
      font-size: $font-xl;
    }
  }
  @include breakpoint-up(xlarge) {
    &__imageAndText {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 100px;
      max-width: 1440px;
      margin: 0 auto;
    }
    &__paragraphContainer {
      width: 1380px;
    }
  }
}
