.card {
  display: grid;
  grid-template-rows: 50px 1fr 25px 50px;
  min-width: 0;
  padding: 10px;
  border-radius: 25px;
  box-shadow: $box-shadow;

  &__title {
    justify-self: center;
    font-size: 1.875rem;
    color: $primaryTextColor;
  }
  &__subTitle {
    text-align: center;
    color: $primaryTextColor;
  }
  &__technologies {
    justify-self: center;
    color: $primaryTextColor;
  }
  &__technologyIcons {
    justify-self: center;
    gap: 15px;
  }
  &--schoolProject {
    font-weight: bold;
    color: red;
  }
}
