h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headingFont;
}

p {
  font-family: $paragraphFont;
}

a {
  font-family: $paragraphFont;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  :visited,
  :hover {
    text-decoration: none;
  }
}
